  <br>

  <hr>
  <footer>
   <p style="text-align: center">
     <small><%= t('notifications.pdf.footer.line_1') %></small>
     <br>
     <small><%= t('notifications.pdf.footer.line_2') %></small>
     <br>
     <small><%= t('notifications.pdf.footer.line_3') %></small>
   </p>
  </footer>
</body>
