<% unless @subscriber.have_vehicle_photos? %>
  <div class="alert alert-warning" role="alert">
    <%= t('messages.warning.vehicle_photos_missing') %>
  </div>                                                                                                                                                                                
<% end %>
