<div class="card bg-warning text-white mb-4">
  <div class="card-body">
    <%= t('messages.infos.scheduling_cancellation') %>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-between"></div>
</div>
