<%= render './././partials/header' %>                                                                                                                                                     
<div class="container-fluid">
  <br><br><br><br><br>
  <%= render './partials/messages' %>
</div>
