<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <h3>HEADER</h3>
    <br>
    <%= yield %>
    <br>
    <h3>FOOTER</h3>
  </body>
</html>
